<div>
    <table>
        <tr>
            <th>Request Id</th>
            <th>Request SKU</th>
            <th>Name</th>
            <th>Price</th>
            <th>Current Quantity</th>
            <th>Requested Quantity</th>
            <th>Employee Name</th>
        </tr>
        <tr *ngFor="let request of requests">
            <td>{{request._id}}</td>
            <td>{{request.SKU}}</td>
            <td>{{request.name}}</td>
            <td>{{request.price}}</td>
            <td>{{request.currentQuantity}}</td>
            <td>{{request.requestQuantity}}</td>
            <td>{{request.empId}}</td>
        </tr>
    </table>
</div>