<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add Employee</title>
  </head>
  <body class = "container-fluid">
    <h2 style = "text-align: center;">Add Employee</h2>
    <br>
  
    <form #employeeRef="ngForm" class="needs-validation" novalidate (ngSubmit)="addEmployee(employeeRef.value)">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required name="firstname" ngModel>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" required name= "lastname" ngModel>
          </div>
          <div class="col-md-4 mb-3">
            <label for="inputEmail3">Email ID</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="email@example.com" required name = "emailid" ngModel>
          </div>
        </div>
        <div class="text-center">  
            <button class="btn btn-primary" type="submit"> Submit </button>
        </div>  
</form>
</body>
</html>