<div class="container">
    <h1 class="floatLeft intro">Welcome {{name}}</h1>
    <!-- Main NavBar for Employee view -->
    <div class="floatLeft">
        <a mat-stroked-button color="primary" class="btn" routerLink="../empReq"><i class="bi bi-bag"></i> Send Product Request</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empOrd"><i class="bi bi-arrow-counterclockwise"></i> Update/View Order Status</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empLock"><i class="bi bi-lock"></i> Locked Users</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empEdit"><i class="bi bi-pencil-square"></i> Edit Profile</a>
    </div>
    <!-- Logout for Employee -->
    <button class="btn floatRight" mat-stroked-button color="primary" routerLink="../init"><i class="bi bi-box-arrow-right"></i> Logout</button>
        
    <hr class="clearFix">

    <div class="center">
       <p>Fun employee overview / stats can go here!</p>
       <p>Maybe list of order statuses</p>
       <p>Maybe list of current product quantities</p>
       <p>Maybe list of currently locked users IF any</p>
       
    </div>
</div>