<div class="container">
    <app-sign-up></app-sign-up>
    <div class="center">
        <h1>Grocers-Stroe</h1>

            <div class="row">
                <div class="col">
                    <div class="signInButton">
                        <a routerLink="../adminSignIn">
                        <button class="btn btn-outline-primary">sign in as admin</button>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="signInButton">
                        <a routerLink="../custSignIn">
                            <button class="btn btn-outline-primary">sign in as Customer</button>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="signInButton">
                        <a routerLink="../empSignIn">
                            <button class="btn btn-outline-primary">sign in as Employee</button>
                        </a>
                    </div>
                </div>
            </div>
      </div>
</div>