<h2 style = "text-align: center;">Delete Product By Name</h2>
<br/>
<div>
    <div class="form-row">
        <div class="col-md-4 mb-3"> 
            <label>Name</label>
            <input type="text" class="form-control" #nameRef/>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <button type="submit" class="btn btn-primary" (click)="deleteProductByName(nameRef.value)">Delete Product by Name</button>
        </div>
    </div>
    {{deleteMsg}}
</div>