<div>
    <h2>Welcome Admin</h2>
    <div class="right">
     <a routerLink="../addEmployee">Add Employee </a>
     <a routerLink="../deleteEmployee"> Delete Employee </a>
     <a routerLink="../addProduct"> Add Product </a>
     <a routerLink="../updatePrice"> Update Product Price </a>
     <a routerLink="../updateQuantity"> Update Product Quantity </a>
     <a routerLink="../deleteProduct"> Delete Product </a>
     <a routerLink="../viewRequests"> View Requests </a>
     <a routerLink="../init"> Log Out </a>
    </div>
    <br>
    <router-outlet>
    </router-outlet>
  </div>