<div class="container">
    <h1 class="floatLeft intro">Locked User Requests</h1>
    <!-- Main NavBar for Employee view -->
    <div class="floatLeft">
        <a mat-stroked-button color="primary" class="btn" routerLink="../empDash"><i class="bi bi-house"></i> Dashboard</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empReq"><i class="bi bi-bag"></i> Send Product Request</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empOrd"><i class="bi bi-arrow-counterclockwise"></i> Update/View Order Status</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empEdit"><i class="bi bi-pencil-square"></i> Edit Profile</a>

    </div>
    <!-- Logout for Employee -->
    <button class="btn floatRight" mat-stroked-button color="primary"><i class="bi bi-box-arrow-right"></i> Logout</button>
        
    <hr class="clearFix">

    <div class="center">
       <p>List of locked users and their requests here</p>
       <p>Displayed in table with option to 'unlock' users / remove them from list to unlock the account</p>
    </div>
</div>