<div class="container">
    <h2 class="floatLeft">Sign Up</h2>
    <hr class="clearFix">
    <div class="center">
      <h1>Grocers-Stroe</h1>
        <form id="form" [formGroup]="signUpInfo" (ngSubmit)="signUp()" >
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">Email: </label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password: </label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" formControlName="pass" placeholder="Enter password">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm: </label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" formControlName="conf" placeholder="Confirm password">
                </div>
              </div>
                <input type="submit" value="Sign Up" class="btn btn-outline-primary">
                <input type="reset" value= "Reset" class="btn btn-outline-primary">
        </form>
            Already have the account? Try to <a routerLink="../init">Sign in</a>.
        
           
        
    </div>
    

</div>