h1 {
  color: blueviolet;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearFix {
  clear: both;
}
.center {
  text-align: center;
}
#form {
  padding: 50px;
  max-width: 50%;
  margin: 0 auto;
  border: blue 1px solid;
  border-radius: 30px;
}
.btn {
  margin-right: 50px;
  margin-top: 20px;
}
