<div class="container">
    <h1 class="floatLeft">Welcome (place employee name here) :)</h1>

    <button class="btn floatRight" mat-stroked-button color="primary">Logout</button>
        
    <hr class="clearFix">

    <div class="center">
        
        <a mat-stroked-button color="primary" class="btn" routerLink="../employeeSendRequest">Send Product Request</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../employeeUpdateStatus">Update/View Order Status</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../employeeUnlockUser">Locked Users</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../employeeEditProfile">Edit Profile</a>
        
    </div>
</div>