<div class="container">
    <div class="floatRight">
       <a routerLink="../init">Back</a>
    </div>
    <h2>Admin Sign in</h2>
    <hr/>    
    <form id="form" #adminRef="ngForm" (ngSubmit)="adminSignIn(adminRef.value)">  
        <div class="row mb-3">  
            <label class="col-sm-2 col-form-label">Username: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="id" placeholder="Enter username" ngModel>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Password: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="pass" placeholder="Enter password" ngModel>
            </div>
        </div>
        <input type="submit" value="Sign In"  class="btn btn-outline-primary"/>
        <input type="reset" value="Reset"  class="btn btn-outline-primary"/><br/>
    </form>
    <div class="center red">{{msg}}</div>
</div>