<div class="container">
    <h1 class="floatLeft intro">Edit Profile</h1>
    <!-- Main NavBar for Employee view -->
    <div class="floatLeft">
        <a mat-stroked-button color="primary" class="btn" routerLink="../empDash"><i class="bi bi-house"></i> Dashboard</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empReq"><i class="bi bi-bag"></i> Send Product Request</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empOrd"><i class="bi bi-arrow-counterclockwise"></i> Update/View Order Status</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empLock"><i class="bi bi-lock"></i> Locked Users</a>
    </div>
    <!-- Logout for Employee -->
    <button class="btn floatRight" mat-stroked-button color="primary"><i class="bi bi-box-arrow-right"></i> Logout</button>
        
    <hr class="clearFix">
     
    <!-- Form to Update Employee Profile for Employee -->
    <div class="center">
        <form id="form" [formGroup]="editProfileForm" (ngSubmit)="sendProfile(editProfileForm.value)">
            <div class = "row mb-3">

                <label class="col-sm-2 col-form-label">Employee ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="uid">
                </div>

                <label class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="cpass">
                </div>

                <label class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="npass">
                </div>

                <input type="submit" value="Submit Request" class="btn btn-outline-primary">
                <input type="reset" value="Reset" class="btn btn-outline-primary">
            </div>
            <div *ngIf="appearAlert" class="alert alert-primary"  role="alert">
               {{submitMsg}}
              </div>
        </form>
    </div>

</div>