<div class="container">
    <h1 class="floatLeft intro">Edit Profile</h1>
    <!-- Main NavBar for Employee view -->
    <div class="floatLeft">
        <a mat-stroked-button color="primary" class="btn" routerLink="../empDash"><i class="bi bi-house"></i> Dashboard</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empReq"><i class="bi bi-bag"></i> Send Product Request</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empOrd"><i class="bi bi-arrow-counterclockwise"></i> Update/View Order Status</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="../empLock"><i class="bi bi-lock"></i> Locked Users</a>
    </div>
    <!-- Logout for Employee -->
    <button class="btn floatRight" mat-stroked-button color="primary"><i class="bi bi-box-arrow-right"></i> Logout</button>
        
    <hr class="clearFix">

    <div class="center">
       <p>Edit password here</p>
       <p>update password form for employee</p>
    </div>
</div>