<div>
    <app-cust-dashoard></app-cust-dashoard>
    <form #productRef="ngForm" (ngSubmit)="addProduct(productRef.value)">    
        <label>Product Id</label>
        <input type="text" name="pid" ngModel><br/>
        <label>Product Name</label>
        <input type="text" name="pname" ngModel><br/>
        <label>Price</label>
        <input type="text" name="price" ngModel><br/>
        <label>Quantity</label>
        <input type="text" name="quantity" ngModel><br/>
        <input type="submit" value="Add Product"/>
        <input type="reset" value="Reset"/><br/>
    </form>
    {{addMsg}}
</div>