<div>
    <h1>Raise Ticket</h1>
    <form>
        <p>
            <mat-form-field>
                <mat-label>Customer ID</mat-label>
                <input placeholder="Your ID here">
              </mat-form-field>              
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Ticket Reason</mat-label>
                <textarea placeholder="Reason For Ticket"></textarea>
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button color="primary">Submit</button>
        </p>
    </form>
</div>