<app-cust-dashoard></app-cust-dashoard>

<form class="container" [formGroup]="editFormGroup" (ngSubmit)="edit()">
    {{message}}
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
          <input  type="text" class="form-control" formControlName="email" placeholder="Enter email">
        </div>
      </div>
      
      <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">Street: </label>
        <div class="col-sm-10">
          <input  type="text" class="form-control" formControlName="street" placeholder="Enter street">
        </div>
      </div>
      <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">Apt No: </label>
        <div class="col-sm-10">
          <input  type="text" class="form-control" formControlName="aptUnit" placeholder="Enter apt unit">
        </div>
      </div>
      <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">city: </label>
        <div class="col-sm-10">
          <input  type="text" class="form-control" formControlName="city" placeholder="Enter city">
        </div>
      </div>
      <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">state: </label>
        <div class="col-sm-10">
          <input  type="text" class="form-control" formControlName="state" placeholder="Enter state">
        </div>
      </div>

        <input type="submit" value="edit proflie" class="btn btn-outline-primary">
        <input type="reset" value= "Reset" class="btn btn-outline-primary">
</form>
