<h2 style = "text-align: center;">Update Product Quantity</h2>
<br/>
<div>
    <form #productRef="ngForm" (ngSubmit)="updateProductQuantity(productRef.value)">    
        <div class="form-row">
            <div class="col-md-4 mb-3"> 
                <label>Product Id</label>
                <input type="text" class="form-control" name="pid" ngModel required>
            </div>
            <div class="col-md-4 mb-3">
                <label>New Quantity</label>
                <input type="text" class="form-control" name="newQuantity" ngModel required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary" type="submit" [disabled]="!productRef.form.valid">Update Quantity</button>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary" type="reset">Reset</button>
            </div>
        </div>
    </form>
    {{updateMsg}}
</div>