<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Update Product Quantity</title>
  </head>
  <body class = "container-fluid">
    <h2 style = "text-align: center;">Update Product Quantity</h2>
    <br/>


<div>
    <form #productRef="ngForm" (ngSubmit)="updateProductQuantity(productRef.value)">    
        <div class="form-row">
            <div class="col-md-4 mb-3"> 
                <label>Product Id</label>
                <input type="text" class="form-control" name="pid" ngModel>
            </div>
            <div class="col-md-4 mb-3">
                <label>New Quantity</label>
                <input type="text" class="form-control" name="newQuantity" ngModel>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary" type="submit">Update Quantity</button>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary" type="reset">Reset</button>
            </div>
        </div>
    </form>
    {{updateMsg}}
</div>
<hr/>
<app-retrieve-product [products]="products"></app-retrieve-product>