h1 {
  color: blueviolet;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearFix {
  clear: both;
}
.center {
  text-align: center;
}
.btn {
  margin-right: 50px;
  margin-top: 20px;
}
.intro {
  padding: 20px;
}
.user {
  font-size: 20px;
  color: blue;
}
