
<div class="container">
    <div class="floatRight user">{{name}}</div>
    <h1 class="floatLeft intro">Customer Dashboard</h1>
    <!-- Main NavBar for Employee view -->
    <div class="floatLeft">
        <a mat-stroked-button color="primary" class="btn" routerLink="/customer/cart"><i class="bi bi-bag"></i>Cart and Checkout</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/updatePrice"><i class="bi bi-arrow-counterclockwise"></i> Update Price</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/updateQuantity"><i class="bi bi-arrow-counterclockwise"></i> Update Quantity</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/addFunds"><i class="bi bi-lock"></i>Add Funds</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/editProfile"><i class="bi bi-pencil-square"></i> Edit Profile</a>
    </div>
    <!-- Logout for Employee -->
    <button class="btn floatRight" mat-stroked-button color="primary" routerLink=""><i class="bi bi-box-arrow-right"></i> Logout</button>
    <hr class="clearFix">
</div>