
<div>
    <div class="floatRight user">{{name}}</div>
    <h1 class="floatLeft intro">Customer Dashboard</h1>
    <!-- Main NavBar for Employee view -->
    <div class="floatLeft">
        <a mat-stroked-button color="primary" class="btn" routerLink="/customer/cart"><i class="bi bi-bag"></i> Home Page</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/orderStatus"><i class="bi bi-arrow-counterclockwise"></i>Order Status</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/addFunds"><i class="bi bi-pencil-square"></i>Add Funds</a>
        <a mat-stroked-button color="primary" class="btn" routerLink="/editProfile"><i class="bi bi-pencil-square"></i>Edit Profile</a>
    </div>
    <!-- Logout for Employee -->
    <button class="btn floatRight" mat-stroked-button color="primary" routerLink=""><i class="bi bi-box-arrow-right"></i> Logout</button>
    <hr class="clearFix">
</div>